<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlinkenServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BlinkenTestClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BlinkenTestSerial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>blinken.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5FD21B7C1692F16100F65E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FD21B9F16935C1B00F65E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FD21BB2169385BA00F65E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FD21BBD16938BBE00F65E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FD3A08116A0A064009B75D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
